:root {
    --main-color: #8e7ce1;
    --accent-color: #362778;
    --base-font-size: 16px;
}

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    height: 100vh;
    width: 100vw;
    background-image: url('new-bg-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav {
    height: 3.2rem;
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.nav .logo {
    height: calc(3.5rem * 0.9);
    width: auto;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--main-color);
}

.nav {
    border-bottom: 1px solid var(--accent-color);
}

.nav ul {
    display: flex;
    justify-content: right;
    /* width: calc(100vw * 0.5); */
    align-items: center;
    padding-inline-end: 1rem;
}

.nav ul li {
    display: flex;
    align-items: center;
    height: 90%;
    padding: 0rem 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav ul li a {
    padding: 0.2rem 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 700;
}

.nav ul li a:hover {
    border-bottom: 2px solid var(--main-color);
    scale: 1.1;
}
.container{
    padding: 7rem 4rem 4rem 8rem;
    border: 2px solid var(--main-color);
    height: 100%;
    width: 50vw;
}
.containt{
    margin-bottom: 5rem;
    height: 100%;
    width: 100%;
    border: 2px solid orange;
}